<div class="titulo">
    <h2>ToDo list: </h2>
  </div>


<div class="dados">
  <table class="table table-dark table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">UserID</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Completed</th>
      </tr>
    </thead>
  <tbody>
  <tr *ngFor= "let dToDo of todo">
    <th scope="row">{{dToDo.id}}</th>
      <td>{{dToDo.userId}}</td>
      <td>{{dToDo.title}}</td>
      <td>@{{dToDo.completed}}</td>
    </tr>
  </tbody>
</table>
</div>
        



  
